# strings - basics

In [14]:
#string = sequence of char
string1='potato'
string2="tomato"
print("1: "+string1+string2)

print("2: "+string1[1]) #character of index 1 - starts from 0

print("3: "+string2[0:4]) #slicing into substrings
#index greater/equal to 0, strictly less than 4

print("4: "+string1[0:6:2])#every second char betw index 0 and 6

print("5: "+ str(len(string1)))

splitstrings = string1.split('o') #split, len are methods
print("6: ")
print(splitstrings) #out puts a list of substrings

joinstrings='o'.join(splitstrings)
print("7: ")
print(type(joinstrings))
print(joinstrings)

print("8: "+string1.replace('tato', 'megranate'))

#string1.lower(), string1.upper()

1: potatotomato
2: o
3: toma
4: ptt
5: 6
6:
['p', 'tat', '']
7:
<class 'str'>
potato
8: pomegranate

# string formatting

In [15]:
template = 'my favourite bagel filling is {} and {}'
print(template.format('avocado', 'cream cheese'))

my favourite bagel filling is avocado and cream cheese

In [16]:
from random import randint
a= randint(1,100)
b = randint(1,100)
c = randint(1,100)
'The maximum of {}, {} and {} is {}.'.format(a,b,c,max(a,b,c))

'The maximum of 61, 44 and 37 is 61.'

In [17]:
#formatted string literal or f-string
from random import randint
a = randint(1,100)
b = randint(1,100)
c = randint(1,100)
f'The maximum of {a}, {b} and {c} is {max(a,b,c)}.'

'The maximum of 98, 26 and 22 is 98.'

# lists

In [2]:
#list = sequence of anything
list1 = [1, 2, 3, 4, 5]
list2 = ['one', 'two', 'three', 'four', 'five']
list3=list1+list2
print(list3)
list4=[list1+list2+list3]
print(list4)
list1[1] # index

[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']
[[1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five', 1, 2, 3, 4, 5, 'one', 'two', 'three', 'four', 'five']]

2

In [24]:
list3[0:7]

[1, 2, 3, 4, 5, 'one', 'two']

In [25]:
list3[0:7:2]

[1, 3, 5, 'two']

In [3]:
list1.append('six') #adds new element to the list
list1

[1, 2, 3, 4, 5, 'six']

In [4]:
list5=list(range(6)) #equally spaced ints
list5

[0, 1, 2, 3, 4, 5]

# tuples + immutability

In [6]:
list1=[0, 'one', 2.0, (3+0j), 'IV']
tuple1 = (0, 'one', 2.0, (3+0j), 'IV')
print(list1)
print(tuple1)
print(list1[3])
print(tuple1[3])
print(list1[0:5:2])
print(tuple1[0:5:2])

[0, 'one', 2.0, (3+0j), 'IV']
(0, 'one', 2.0, (3+0j), 'IV')
(3+0j)
(3+0j)
[0, 2.0, 'IV']
(0, 2.0, 'IV')

In [7]:
list1.append('cinq')
print(list1)
tuple1=tuple1+('cinq',) #can't append to tuples
#note the comma even if its a tuple containing a single element
print(tuple1)

[0, 'one', 2.0, (3+0j), 'IV', 'cinq']
(0, 'one', 2.0, (3+0j), 'IV', 'cinq')

In [1]:
#converting tuple to list and back
tuple1 = (0, 'one', 2.0, (3+0j), 'IV')
temp_list=list(tuple1)
temp_list.append('cinq')
tuple1=tuple(temp_list)
print(tuple1)

(0, 'one', 2.0, (3+0j), 'IV', 'cinq')

In [3]:
list1= [0, 'one', 2.0, (3+0j), 'IV', 'cinq']
tuple1=(0, 'one', 2.0, (3+0j), 'IV', 'cinq')
list1[5]='vijf'
print(list1)
#can't append/give elements new values in tuples - immutable
#lists are mutable

#tuple[5]='vijf' --> ERROR

[0, 'one', 2.0, (3+0j), 'IV', 'vijf']

# the zip function

In [4]:
xvals = list(range(6))
yvals = (0,1,4,9,15,25)
combined = zip(xvals,yvals)
print(combined) #lazy obj - contents not visible
print(list(combined))

<zip object at 0x00000203B7F3DCC0>
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 15), (5, 25)]